/*Borders for all tables and headers*/
table, th { border: 1px solid black; }

/*Creating a div with side-by-side panels*/
.panels {
  display: inline-flex;
  justify-content: space-between;
}

/*Keeps input panel near top*/
#control_panel {
    float: left
}